.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../../../public/images/handy/login-diver-mobile.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 3em;
  height: 100vh;
  
}

@media (min-width: 768px) {
  .mainContainer {
    background-image: url("../../../public/images/tablet/login-diver-tablet.png");
  }
}
@media (min-width: 1024px) {
  .mainContainer {
    background-image: url("../../../public/images/desktop/login-diver-desktop.png");
  }
}

.cardContainer{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 75%;
}
.card{
    border-style: solid;
    border-color: aqua;
    border-radius: 25px;
    width: 15em;
    background-color: blue;
    transition: transform 0.2s ease;
}
.card:hover {
  transform: scale(1.02);
  cursor: pointer;
}
.pic{
    width: 10em;
    height: 10em;
    object-fit: cover;
    border-color: aquamarine;
    border-radius: 25px;
    
}
.categoryName{
    text-transform: capitalize;
}
.cardLink {
  text-decoration: none;
  color: inherit;
}